.md{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
p{
    font-size: large;
    font-weight: 900;
}
h1{
    color: white;
}